/*-- scss:defaults --*/

@import "https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css";
@import "https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js";
@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Dancing+Script:wght@400;500;600;700&family=Permanent+Marker&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$primary:                       hsla(23, 19%, 41%, 1);
$secondary:                     hsla(0, 9%, 98%, 1);
$success:                       hsla(213, 48%, 58%, 1);
$body-bg:                       $secondary;

$text-brown:                    hsla(23, 34%, 31%, 1);

$font-size-base:                1rem; 
$font-family-sans-serif:        "Lato", "Open Sans", "Montserrat", "Roboto", 
                                // Cross-platform generic font family (default user interface font)
                                system-ui, 
                                // Safari for macOS and iOS (San Francisco)
                                -apple-system
                                // Windows
                                "Segoe UI",
                                // Android
                                Roboto,
                                // older macOS and iOS
                                "Helvetica Neue"
                                // Linux
                                "Noto Sans",
                                "Liberation Sans",
                                // Basic web fallback
                                Arial,
                                // Sans serif fallback
                                sans-serif,
                                // Emoji fonts
                                "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;


$font-family-base:              "Lato";
$font-family-monospace:         SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

$headings-font-family:          "Bookman", "Playfair Display";
/*-- scss:rules --*/  



h1 {
  opacity: 0 !important;
  padding: 0;
  margin: 0;
}


body > nav > div > div.d-flex.flex-row > header > div > a > h2 {
  font-size: 5vw;
  font-family: "Playfair Display";
  color: $secondary;
  border-bottom-color: $secondary;
}


/* css styles */

$timelinesize:          60px;

.styled {
  font-size: 1.1em;
  justify-content: center;
  align-items: center;
  transform: translate(0%, 20%);
}


.container{
  width: 100%;
}

.timeline {
  width: 100%;
  font-size: 20px;
}


.timeline li{
  list-style: none;
  float: left;
  width: 25%;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  color: #2b061e;
  font-family: Ubuntu;
  font-weight: 1;
}


.timeline li:before{
  width: $timelinesize;
  height: $timelinesize;
  border-radius: $timelinesize;
  display: block;
  text-align: center;
  line-height: $timelinesize;
  margin: 0 auto 10px auto;
  background: #F1F1F1;
  color: #2b061e;
  font-family: Ubuntu;
}

.timeline li:nth-child(1):before{
  content: "15:30";
}

.timeline li:nth-child(2):before{
  content: "16:00";
}

.timeline li:nth-child(3):before{
  content: "18:00";
}

.timeline li:nth-child(4):before{
  content: "21:00";
}

.timeline li:after{
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: grey;
  top: $timelinesize / 2;
  left: -50%;
  z-index: -999;
  transition: all ease-in-out .3s;
}

.timeline li:first-child:after{
  content: none;
}



#timer {  
  font-size: 3em;
  font-weight: 100;
  color: $text-brown;
  padding-bottom: 50px;
  text-align: center;
  
  div {
    display: inline-block;
    min-width: 90px;
    
    span {
      color: $text-brown;
      display: block;
      font-size: .35em;
      font-weight: 400;
    }
  }
}


.section-header {
  font-size: 42px;
  color: $text-brown;
  font-family: Courgette;
  text-align: center;
}

.veislustjorar {
    font-size: 2vw;
    color: $text-brown;
    font-family: Courgette;
    text-align: center;
    table-layout: fixed;
    display: flex;
}

.text {
    font-size: 16px;
    color: $text-brown;
    font-family: Courgette;
    text-align: center;
}

#googleform {
  text-align: center;
  width: 100%;
  height: 1000px;
  margin-bottom: -100px;
}

.navbar-container {
  align-items: center;
  text-align: center;
}

.hero-banner {
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: 0%;
  margin-right: 0%;
  background-color: #f0f0f0;
  border: 3px ridge #737373;
  display: flex;
}

.card-figure {
  padding-left: 15px;
  border-left: 2px groove #737373;
}

#textrow {
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

#p1 {
    font-family: Dancing Script;
    font-size: 4.5vw;
    text-align: center;
    color: #2b061e;
    margin: 0 auto;
  }
  
#p2 {
    font-family: Dancing Script;
    font-size: 2.8vw;
    text-align: center;
    color: #2b061e
}
  
#p3 {
    font-family: Dancing Script;
    font-size: 2.1vw;
    text-align: center;
    color: #2b061e
}
  
@media (max-width: 470px) {
  #p1 {
    font-size: 35px;
  }
  #p2 {
    font-size: 25px;
  }
  #p3 {
    font-size: 15px;
  } 
  .veislustjorar {
    font-size: 5vw;
  }
  
  .timeline {
    font-size: 15px;
  }
  
  .timeline li:before{
    width: $timelinesize * 0.8;
    height: $timelinesize * 0.8;
    border-radius: $timelinesize * 0.8;
    line-height: $timelinesize * 0.8;
  }
  
  .timeline li:after{
  top: $timelinesize / 2 * 0.8;
  }
}  

@media (max-width: 410px) {
  .timeline {
    font-size: 12px;
  }
  
  .timeline li:before{
    width: $timelinesize * 0.7;
    height: $timelinesize * 0.7;
    border-radius: $timelinesize * 0.7;
    line-height: $timelinesize * 0.7;
  }
  
  .timeline li:after{
  top: $timelinesize / 2 * 0.7;
  }
}

@media (max-width: 350px) {
  .timeline {
    font-size: 10px;
  }
  
  .timeline li:before{
    width: $timelinesize * 0.7;
    height: $timelinesize * 0.7;
    border-radius: $timelinesize * 0.7;
    line-height: $timelinesize * 0.7;
  }
  
  .timeline li:after{
  top: $timelinesize / 2 * 0.7;
  }
}

@media (max-width: 767px) {
  .card-figure {
    padding-left: 0px;
    border-left: 0px;
    width: 100%;
  }
  #p1 {
    font-size: 9vw;
  }
  
  #p2 {
    font-size: 5vw;
  }
  #p3 {
    font-size: 3vw;
  } 
  
  .veislustjorar {
    font-size: 3vw;
    width: 100%;
  
  }
}